.app {
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  margin-top: 10px; /* Adjust this value to the height of your navbar */
  justify-content: center;
  align-items: center;
  padding-left: 770px;
}





.feed {
  display: flex;
  flex-direction: column;
}

.feed-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #e1e8ed;
}

.feed-tabs span {
  margin: 0 10px;
  cursor: pointer;
}





.tweet-content {
  padding: 10px;
}

